<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Pictures</title>
</head>
<body>
<div th:each="picture : ${pictures}">
    <img src="" th:src="${picture.url}" th:alt="picture.title" alt="picture">
</div>
</body>
</html>